<h1 class="h1">
  Babylinks - Yet Another Url Shortener
</h1>

<% if flash[:error] %>
  <div class="flash error">
    <%= raw flash[:error] %>
  </div>
<% end %>

<% if flash[:notice] %>
  <div class="flash notice">
    <%= raw flash[:notice] %>
  </div>
<% end %>

<%= form_for @url, :url => shorten_path do |u| %>
  <div>
    <%= u.label "Shorten This" %>:
    <%= u.text_field :long_url %>
  </div>
  <div>
    <%= u.submit "Create"%>
  </div>
<% end %>
